* {
    margin: 0;
    padding: 0;
}







/* main content */

.main-content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    
    
}

/* staff card */

.card {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
}

.product-image-link {
    display: flex;
    object-fit: contain;
    overflow: hidden;
    justify-content: center;
    
}

.product-image-link img {
    max-width: 100%;

    
    

    

}


.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


/* media tablet*/
@media (max-width: 800px) {
    
    .main-content {
        grid-template-columns: repeat(2, 1fr);
        
        grid-template-rows: repeat(5, 300px);
        padding-inline: 0;
    }
}

/* media smartphone */
@media (max-width: 600px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
        
        grid-template-rows: repeat(9, 300px);

        padding-inline: 0;
    }
    .card {
        margin-inline: 0;
    }
}


